/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


/* Dropdown Menus
-------------------------------------------------- */

/*table*/
.formContainer {
  margin: 25px 50px;
  height: 5.4em;
  width: 65%;
  background-color: #004c80;
}

/*row1*/
tr.rankRow {
  display: inline-block;
  height: 1.25em;
  border: 2px solid green;
}

/*row2*/
tr.formRow {
  display: inline-block;
  margin: auto;
  height: 3.4em;
  border: 2px solid red;
}

td {
  width: 8em;
}

/*dropdown menus, button*/
.betMenu {
  margin: auto;
  width: 8em;
  height: 2.5em;
}

.betButton {
  margin: 0 0 20px 25px;
}

/*ranking text*/
.position {
  font-size: 1em;
  font-style: bold;
  text-align: center;
}



/* Graphs
-------------------------------------------------- */

.percentage:after {
  content: "";
  display: block;
  height: 3em;
  background-color: #3d9970;
}

.percentage {
  background: repeating-linear-gradient(
    to right,
    #ddd,
    #ddd 1px,
    #fff 1px,
    #fff 5%
  );
}

#graphs {
  margin-left: 10%;
}